<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chcreation.pointofsale">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autoFocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".product.ProductWholeSaleActivity"></activity>
        <activity android:name=".product.ListCategoryActivity" />
        <activity android:name=".custom_receipt.CustomReceiptActivity" />
        <activity android:name=".analytic.AnalyticFilterActivity" />
        <activity android:name=".analytic.AnalyticActivity" />
        <activity android:name=".product.InstallmentPlanActivity" />
        <activity android:name=".user.AddUserActivity" />
        <activity android:name=".user.UserDetailActivity" />
        <activity android:name=".user.UserListActivity" />
        <activity android:name=".customer.CustomerDetailActivity" />
        <activity android:name=".customer.CustomerEnquiryActivity" />
        <activity android:name=".product.ManageProductManageStockActivity" />
        <activity android:name=".product.ManageProductStockMovementListActivity" />
        <activity android:name=".product.ManageProductDetailActivity" />
        <activity android:name=".ErrorActivity" />
        <activity android:name=".checkout.SelectCustomerActivity" />
        <activity android:name=".transaction.DetailTransactionActivity" />
        <activity android:name=".transaction.TransactionFragment" />
        <activity android:name=".checkout.ReceiptActivity" />
        <activity android:name=".checkout.PostCheckOutActivity" />
        <activity android:name=".checkout.CheckOutActivity" />
        <activity android:name=".checkout.DiscountActivity" />
        <activity android:name=".checkout.NoteActivity" />
        <activity android:name=".checkout.CartActivity" />
        <activity android:name=".product.ProductDetailActivity" />
        <activity android:name=".product.ListProductActivity" />
        <activity android:name=".product.NewCategory" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.SignUpActivity" />
        <activity android:name=".login.SignInActivity" />
        <activity android:name=".merchant.MerchantActivity" />
        <activity android:name=".merchant.ManageMerchantActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".customer.NewCustomerActivity" />
        <activity android:name=".product.NewProductActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>